@model UserProfileViewModel

@{
    string Image  = Model.ImageUrl == null ? "/userImages/avatarr.png" : Model.ImageUrl;
}

@{
     ViewData["Title"]= "Profile";
     Layout = "~/Views/Shared/_UserLayout.cshtml";
  }
    <div class="content-wrapper">
  <div class="container-fluid">

      <div class="row mt-3">
        <div class="col-lg-12 ">
           <div class="card profile-card-2 d-flex">
            <div class="card-img-block">
                <img style="background-position:center;" class="img-fluid" src="~/images/banner1.jpg" alt="Card image cap">
               
            </div>
          
            <div class="card-body pt-5">
                <img src="@Image" alt="@Image" class="profile">
                <h5 class="card-title">@Model.Name @Model.SurName</h5>
                <p class="card-text">@Model.Email</p>
                <div class="icon-block">
                  <a href="javascript:void();"><i class="fa fa-facebook bg-facebook text-white"></i></a>
				  <a href="javascript:void();"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
				  <a href="javascript:void();"> <i class="fa fa-google-plus bg-google-plus text-white"></i></a>
                  <div class="float-right">
                  <a href="javascript:void();" class="btn btn-light px-2">  Siteye Git</a>
				  <a href="javascript:void();"> </a>
				  <a href="javascript:void();"></a>
                </div>
                </div>
                
            </div>
          
           </div>
            
        </div>

        <div class="col-lg-12">
           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profil</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Düzenle</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                
                @await Html.PartialAsync("~/Areas/Member/Views/MemberPartial/ProfilePartial.cshtml")
                @await Html.PartialAsync("~/Areas/Member/Views/MemberPartial/UserEditPartial.cshtml")
                

            </div>
        </div>
      </div>
      </div>
        
    </div>

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
	
     </div>
    <!-- End container-fluid-->
   </div><!--End content-wrapper-->